vcl 4.0;

# This is a basic VCL configuration file for varnish.  See the vcl(7)
# man page for details on VCL syntax and semantics.
#
# Default backend definition.  Set this to point to your content
# server.

{% if varnish_backends is defined %}
{% for backend, value in varnish_backends.iteritems() %}
backend {{ backend }} {
{% for val in value %}{% set va = value.get(val)%}.{{ val }} = {{ va }};
{% endfor %}
}
{% endfor %}
{% endif %}

{% if varnish_subs is defined %}
{% for sub, value in varnish_subs.iteritems() %}
sub {{ sub }} {
  value.content
}
{{% endfor %}}
{{% endif %}}

{% for backend, value in varnish_backends.iteritems() %}
backend {{ backend }} {
{% for val in value %}{% set va = value.get(val)%}.{{ val }} = {{ va }};
{% endfor %}
}
{% endfor %}
